.TitleBanner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: #04AA6D;


    .Title {
        display: block;
        color: white;
        text-align: center;
        font-size: 2.5em;
        font-family: 'Source Sans Pro Topnav', sans-serif
    }
}

.banner {
    position: fixed;
    background-color: #2b3460;
    top: 15%;
    height: 5%;
    width: 100%;
}

.bannerLink {
    display: inline-block;
    width: inherit;
    color: #f1f1f1;
    font-size: 1.75em !important;
    font-weight: bold;
    padding-top: 5px;
    text-decoration: none;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    text-align: center;
}

.bannerLink:hover, .bannerLink:active {
    background-color: #151515;
}



.bodySection {
    position: fixed;
    top: 20%;
    left: 8px;
    background-color: initial;
    width: inherit;
    height: 90%;
    padding-top: 1px;
    overflow: auto;


    .navigationBar {
        /*position: relative;*/
        /*left: 8px;*/
        /*top: 0;*/
        display: block;
        float: left;
        scroll-behavior: smooth;
        height: inherit;
        width: 15%;
        min-width: 120px;
        background-color: #f1f1f1;
        font-family: 'Source Sans Pro Topnav', sans-serif;

        ul {
            list-style-type: none;
            font-weight: bold;
            /*font-family: "Times New Roman", serif;*/
            margin: 0;
            padding: 0;
            font-size: 1.15em;
            width: inherit;
            background-color: #f1f1f1;

            li a {
                display: block;
                color: #000;
                padding: 8px 16px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #555;
                color: white;
            }

            li a.active {
                background-color: #04AA6D;
                color: white;

            }

        }

    }

    .img_block {
        /*position: relative;*/
        /*right: 5px;*/
        /*top:0;*/
        float: left;
        display: block;
        height: inherit;
        width: 10%;
        min-width: 120px;

        img {
            position: relative;
            left: 25%;
            float: left;
            height: auto;
            width: 15vw ;
            padding: 10px;
            object-fit: cover;
        }

        /*.button {*/
        /*    !*position: relative;*!*/
        /*    !*width: 100%;*!*/
        /*    !*left: 50%;*!*/
        /*    !*width: inherit;*!*/
        /*}*/

        .button {
            position: relative;
            width: 100%;
            height: 25px;
            left: 50%;
            background-color: #004A7F;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-size: 20px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            animation: glowing 750ms infinite;
        }
        @keyframes glowing {
            0% {
                background-color: #2ba805;
                box-shadow: 0 0 5px #2ba805;
            }
            50% {
                background-color: #49e819;
                box-shadow: 0 0 20px #49e819;
            }
            100% {
                background-color: #2ba805;
                box-shadow: 0 0 5px #2ba805;
            }
        }
    @keyframes glowing {
        0% {
            background-color: #2ba805;
            box-shadow: 0 0 5px #2ba805;
        }
        50% {
            background-color: #49e819;
            box-shadow: 0 0 20px #49e819;
        }
        100% {
            background-color: #2ba805;
            box-shadow: 0 0 5px #2ba805;
        }
    }

        /*a:link, a:visited {*/
        /*    background-color: white;*/
        /*    color: black;*/
        /*    border: 2px solid green;*/
        /*    padding: 10px 20px;*/
        /*    text-align: center;*/
        /*    text-decoration: none;*/
        /*    display: inline-block;*/
        /*}*/

        /*a:hover, a:active {*/
        /*    background-color: green;*/
        /*    color: white;*/
        /*}*/
    }

    .contentBlock {
        display: block;
        float: left;
        width: 65%;
        height: 85%;
        overflow: auto;
        padding-left: 10px;
    }

    .contentBlock::-webkit-scrollbar {
        display: none;
    }

    .contentBlock h3 {
        font-size: 2em;
        margin-top: 5px;
    }
    .goals {
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.6;
    }

    .goal{
        padding-left: 5%;
    }

    .goals strong{
        color: darkred;
    }

    .lastLine {
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.6;
    }
    .lastLine strong{
        color: darkred;
    }

    .contentBlock p {
        font-size: 1em;
    }

    .contentBlock ul {
        list-style-type: disc;
    }

    .contentBlock > ul li {
        font-size: 0.9em;
        margin: 10px;
    }

    .contentBlock ul li em {
        font-size: .95em;
        font-weight: bold;
    }

    .contentBlock > ul li ul {
        list-style-type: circle;
        margin: 10px;
    }
    .contentBlock > ul li ul li {
        margin: 5px;
    }

    .contentBlock > ul > ul {
        list-style-type: circle;
    }


}
.bodySection::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    max-height: 5%;
    line-height: 5%;
    background-color: #04AA6D;
    text-align: center;

    p.footNote {
        display: inline-block;
        vertical-align: middle;
        color: #f1f1f1;
    }
}